ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-size: x-large;
}


li {
    float: right;
	position: relative;
}

li a {
    display: block;
    color: #FF6600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


li a:hover {
    color: #C7CEDB;
    background-color: transparent;
    text-decoration: underline;
}
